@mixin reverseCard {
    padding: 68px 127px 30px 55px;
    text-align: right;
}

.blueCard {
    width: 720px;
    height: 353px;
    background-color: #6279FF;
    padding: 68px 55px 30px 127px;
    text-align: left;
}
.blueCardEven {
    @include reverseCard;
    text-align: right;
}
.blueCardTitle {
    padding-bottom: 16px;
    font-size: 22px;
    color: #fff;
    font-family: "PT Serif";
    font-weight: 700;
    letter-spacing: 0.1em;
}
.blueCardText {
    color: #fff;
    font-size: 18px;
    font-family: "Montserrat";
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0.1em;
}
